################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Password.Desktop.Win/bin
/src/Password.Desktop.Win/obj
/src/Password.Server.Api/obj
/src/Password.Server.Api/bin
